<div class="main-container">
   <div class="header">
<h1>Create Account</h1>
<p id="sub-header">Please complete the fields below to access the app.</p>
   </div>

  <div class="inner-part">
            <label  class="labels" for="">Username</label>
            <input  class="textBoxes" type="text">
            <label class="labels" for="">Supplier ID</label>
            <input class="textBoxes" type="text">
            <label class="labels" for="">Contact Number</label>
            <input  class="textBoxes" type="text">
            <label class="labels" for="">Password</label>
            <input class="textBoxes" type="password">
            <label class="labels" for="">Confirm Password</label>
            <input class="textBoxes" type="password">
         <span class="TandT">  <label class="labels" for="Acceept terms&Conditions ">Accept terms & Conditions</label><input type="checkbox"></span>
         <button id="btnCreate">Create Account</button>
       
        </div>



</div>
